* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
form {
  width: 50%;
  margin: 7rem auto;
  border: 1px solid #ebdfdf;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
form h1 {
  margin: 1rem;
  font-size: 1.8rem;
}
form .input-containe {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto 1rem;
}
form label {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
form input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 0.5px solid #d6e2d6;
  border-radius: 5px;
}
form button {
  width: 40%;
  margin: 1rem auto;
  padding: 0.6rem 1rem;
  color: white;
  background-color: #2196f3bf;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}
